<app-menu [userName]="userName"></app-menu>
<html>
<form>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Activity Id</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="activityid"
      [(ngModel)]="activity!.activityid"></textarea>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Activity Name</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="name"
      [(ngModel)]="name"></textarea>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Steps Needed</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="steps"
      [(ngModel)]="steps"></textarea>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Average time</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="average"
      [(ngModel)]="average"></textarea>
  </div>
</form>
</html>
<router-outlet></router-outlet>